@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
.btn{
    padding: 10px 35px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}
body{
    background-color: snow;
}
@media(max-width:4300px){
    .btn{
        padding: 10px 20px;
    }
}
